name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Print directory
        run: |
          echo "Repository contents:"
          ls -R .

      # optionally add build/test steps here